* {
    font-family:Arial, Helvetica, sans-serif;
}


.mainContainer {
    max-width: min(1024px, 100vw);
    margin: 0 auto;
    background-color: azure;

    height: 100vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    /*flex: calc(max-content * 2);*/
    background-color: lightskyblue;

    padding: 48px 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.header h2 {
    margin: 0;

    
}

.focus {
    position: sticky;
    bottom: 0;
}

.date {
    flex: 10%;
    background-color: lightskyblue;
    padding: 3px 9px;
    border-top: 1px dashed darkslateblue;
}

.date h3 {
    font-weight: 400;
    margin: 0;
    display: inline;
}

.display {
    height: min(56.25vw, 0.5625 * 1024px); /*16 : 9 aspect ratio*/
    background-color: #555;
    margin: 0 auto;
}

.imgContainer/*, .imgContainer img*/ {
    max-width: min(1024px, 100vw);
    max-height: 576px;
}

.imgContainer img {
    height: 100%;
    width: 100%;
}

.controls {
    flex: 78px;
}

.buttonRow {
    height: 78px;
    width: 100%;
    background-color: #222;
    font-size: 0;

    display: flex;
}

.bottom {
    flex: 15%;
    background-color: lightskyblue;
}

.button {
    height: 78px;
    width: 78px;
    background-color: dodgerblue;
    display: inline-block;
    font-size: 56px;
    color: white;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.button:hover {
    background-color: rgb(28, 118, 209);
    color: rgb(183, 217, 228);
}
.play {
    background-color: rgb(27, 139, 32);
}
.play:hover {
    background-color: rgb(20, 110, 24);
}
.paused{
    background-color: rgb(179, 78, 11);
}
.paused:hover {
    background-color: rgb(116, 50, 6);
}

.buttonseparator {
    flex: calc(min(1024px, 100vw) - 78px * 5);
}

.frontStep {
    float: right;
}

.lastStep, .firstStep {
    letter-spacing: -11px;
} 

.play, .backStep, .lastStep  {
    border-left: 1px dashed darkslateblue;
}

.playIcon {
    transition: 100ms all ease;
    /*will-change: border-width;*/

    /* play state */
    margin: 17px 27px;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
    width: 0px;
    height: 0px;
    border-width: 22px 0 22px 24px;
}
.paused .playIcon {
    /* pause state */
    margin: 17px 21px;
    border-color: transparent #fff transparent #fff;
    border-style: solid;
    height: 44px;
    width: 17px;
    border-width: 0px 9px 0px 9px;
}
.play:hover .playIcon {
    border-color: transparent transparent transparent rgb(183, 217, 228);
}
.paused:hover .playIcon   {
    border-color: transparent rgb(183, 217, 228) transparent rgb(183, 217, 228);
}

.settings {
    float: right;
    position: relative;
}
.settings img {
    width: 24px;
    height: 24px;
}
.settings img:hover {
    filter: brightness(0.6);
}

@media only screen and (max-height: calc(28px + 78px + 48px * 2 + min(56.25vw, 0.5625 * 1024px))) {
    .header h2 {
        animation: 0.2s ease-in 0s 1 normal both running scrollOffTop;
    }
    .header {
        flex-shrink: 2;
    }
}


@keyframes scrollOffTop {
    0%  {   transform: translateY(0)}
    50% { opacity: 0;}
    100% {  transform: translateY(-64px);
        opacity: 0;}
}

.hidden {
    display: none;
}