* {
	line-height: 1.5;
	font-size: 16px;
	font-family: monospace;
	font-family: 'Roboto Mono', monospace;
}

.maintext {
	overflow-x: hidden;
}

pre, p {
	margin: 0;
	word-break: break-all;
	display: inline;
}

.type {
	/*display: flex;
	flex-wrap: wrap;*/
}

.user {
	color: rgb(255, 115, 0);
}

.cmdline {
	color: green;
}

.type input, .type .input {
	padding: 0;
	border: white 0;
	outline: white 0;
	color: black;
	height: 1.5em;

	word-break: break-all;
}

:root {
	--framescale: 0.5;
	--framescaleMobile: 0.75;
	--framescaleWide: 1;
	--scrollbar-width: calc(100vw - 100%);
}

.frameWrap {
	width: calc(100%);
	height: calc(9 * 768px / 16);

	overflow: hidden;
}

.frameWrap.mobileView {
	height: min(calc(16 * 768px / 12), 95vh);
}

.frameWrap.wideView {
	max-width: calc(100vw - 4px - var(--scrollbar-width));
	height: min(calc(16 * 100vw / 12), 100vh);

	overflow-x: hidden;
}

iframe {
	/*border: calc(2px / var(--framescale)) solid black;*/

	-ms-zoom: var(--framescale);
	-moz-transform: scale(var(--framescale));
	-moz-transform-origin: 0 0;
	-o-transform: scale(var(--framescale));
	-o-transform-origin: 0 0;
	-webkit-transform: scale(var(--framescale));
	-webkit-transform-origin: 0 0;

	width: calc(100% / var(--framescale));
	height: calc(9 * 768px / 16 / var(--framescale));

}

iframe.mobileView {
	width: calc(100% / var(--framescaleMobile));
	height: min(calc(16 * 768px / 12 / var(--framescaleMobile)), 100vh / var(--framescaleMobile));

	-ms-zoom: var(--framescaleMobile);
	-moz-transform: scale(var(--framescaleMobile));
	-o-transform: scale(var(--framescaleMobile));
	-webkit-transform: scale(var(--framescaleMobile));
}

iframe.wideView {
	width: calc((100vw - var(--scrollbar-width) - 4px) / var(--framescaleWide));
	height: min(calc(16 * 100vh / 12 / var(--framescaleWide)), 95vh / var(--framescaleWide));

	position: absolute;
	left: 0;

	-ms-zoom: var(--framescaleWide);
	-moz-transform: scale(var(--framescaleWide));
	-o-transform: scale(var(--framescaleWide));
	-webkit-transform: scale(var(--framescaleWide));
}

/*#wrap { width: 600px; height: 390px; padding: 0; overflow: hidden; }
/*#frame { width: 800px; height: 520px; border: 1px solid black; }
/*#frame {
	-ms-zoom: 0.75;
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);
	-webkit-transform-origin: 0 0;
}*/

@media only screen and (max-width: 1200px) {
	* {
		font-size: 32px;
	}
}