* {
	line-height: 1.5;
	font-size: 16px;
	font-family: monospace;
	font-family: 'Roboto Mono', monospace;
}

pre, p {
	margin: 0;
	word-break: break-all;
	display: inline;
}

.type {
	/*display: flex;
	flex-wrap: wrap;*/
}

.user {
	color: blue;
}

.maintext {
	/*word-break: break-all;*/
}

.type p {
	/*flex-grow: 1;*/
}

.type input, .type .input {
	/*margin-left: .5rem;*/
	padding: 0;
	border: white 0;
	outline: white 0;
	color: black;
	height: 1.5em;

	word-break: break-all;
	
	/*-webkit-box-flex: 2;
	flex-grow: 2;*/
	
	/*width: max-content;*/
}

@media only screen and (max-width: 1200px) {
	* {
		font-size: 32px;
	}
}