* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*color: black;*/
    cursor: url('../img/cursors/pointer4.png'), auto;
    /*text-shadow: 2px 2px violet;*/
    user-select: none;
    scroll-behavior: smooth
}

@font-face {
    font-family: Titillum;
    src: url(../fonts/TitilliumWeb-Regular.ttf);
    font-weight: unset;
}

@font-face {
    font-family: Titillum;
    src: url(../fonts/TitilliumWeb-SemiBold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: Titillum;
    src: url(../fonts/TitilliumWeb-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Titillum;
    src: url(../fonts/TitilliumWeb-Regular.ttf);
    font-weight: lighter;
}

/*rgb(144, 169, 207)*/  /*blue*/
/*#ded6cc;*/            /*beige*/
/*rgb(48, 43, 39)*/     /*brown*/

p {
    user-select: text;
}
img {
    user-select: all;
}
/*body, .topnav {
    transition: margin-left .1s;
}*/

body.home {
    background-image: url('../img/xp_bg.jpg');
}
body.blog {
    /*background-image: url('../img/body_blur.jpg');*/
    background: center / 100% no-repeat url('../img/body_blur.jpg');
}
.body::after {
    background-color: rgb(144, 169, 207);
}
/*body.works {
    /*background-image: url('../img/kanna.jpg');
    background-size: cover;*/
    /*background: center / 100% repeat url('../img/portfolio/sculpture/PLAY.jpg');*/

.blur {
    filter: blur(8px);
}


.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*filter: blur(1px);*/
    z-index: -2;

    position: fixed;
    top: 0;
    left: -10%;
    min-height: 150%;
    min-width: 120%;

}

/*.works {
    background-image: url('../img/portfolio/sculpture/PLAY.jpg');
}*/
.table {
    background: center / cover no-repeat url('../img/portfolio/project_table/table_skull.JPG');
}
.home {
    background-image: url('../img/belupien_upscaled.jpg');
    background-image: url('../img/Hnet-image.gif');
    background-image: url('../img/portfolio/drawings/the\ conversation.jpeg');
    background-image: url('../img/B181DC64-16C2-4A5D-823E-2726A385456E.JPEG');
    background-image: url('../img/pattern\ bg.png');
    background-image: url('../img/lager2checkeredTEST.jpg');
    background-position: center center;
    /*background: center / 256px repeat url('../img/turpeluren_rich_forest_bottom_layer_biodiversity_soil_0_1b5e4557-1468-4f2f-b7a5-db7e530de109.png');
    */
}
@media only screen and (max-width: 1200px) {
    .home {
        background-position: center center;
        /*background-size: cover;*/
        background-image: url('../img/lager2dcheckered.jpg');
    }
}
.blog {
    background-image: url('../img/portfolio/sculpture/body_blur.jpg');
}

body.portfolio {
    background-color: rgb(250, 249, 248);
}

h1 {
    color: rgb(252, 250, 249);
    font-size: 48px;
    font-weight: 600;
}
h1 a {
    color: blue;
}

/*h2 {*/
    /*font-weight: normal;*/
    /*color: white;*/
    /*text-align: left;*/
    /*padding: 5px;*/
/*}*/
/*h4 {
    color: black;
    text-shadow: none;
}*/

.normaltext {
    color: white;
    text-shadow: none;
}

h1:hover {
    text-shadow: blueviolet;
}

.content {
    border: 3px solid black;
    background-color: rgb(80, 47, 30);
    padding: 2em;
    margin: 0 auto;
    height: 500px;
    width: 800px;
    border-radius: 30px;
}

/*HOME      HOME        HOME        HOME        HOME        HOME        HOME        HOME*/
.logoContainer {
    margin: 200px auto 20px;
    width: 200px;
    height: 200px;
}
.logoContainer img {
    max-width: 100%;
    max-height: 100%;
    transition-duration: 6s;
}
.logoContainer img:hover {
    /*mix-blend-mode: color-dodge;*/
    transform: rotate(1360deg);
    filter: brightness(90%);
}

.turpelurpeluren{
    display: inline;
    font-size: 50px;
    font-weight: 500;
    color: #ded6cc;
    transition-duration: 1s;
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
    user-select: text;
    /*padding-top: 0px;*/

    /*text-shadow: 0 -1px 20px rgb(29, 13, 4), 0 0px 0 #ded6cc, 0 1px 5px rgb(17, 7, 2), 0 0px #ded6cc, 0 0px 0 #ded6cc;*/
}

/*
.homeLinks {
    margin: 50px auto 200px;
    text-align: center;
}
.homeLinks a {
    display: block;
    margin: 10px auto;
    width: 140px;
    padding: 10px 20px 15px;
    background-color: #ded6cc;

    color: black;
    text-decoration: none;
    font-size: x-large;
}
.homeLinks a:hover {
    background-color: #d1c4b4;

}
.homeLinks a:hover::after {
    content: "."
}*/

.scrollHomeLinks {
    position: sticky;
}
.homeLinks {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    height: 100vh;
    
    font-size: 32px;
    padding: 10px;
}
.homeLinks a {
    display: block;
    outline: 4px dashed black;
    outline: 6px dashed darkblue;
    margin: 10px;
    text-align: center;
    color: darkblue;
    background-color: rgba(255, 255, 255, 0.7);
    /*background-color: rgba(0, 89, 255, 0.801);*/
    transition: box-shadow 0.5s;
    transition: background-color 0.05s;
}
.homeLinks a:hover {
    /*box-shadow: inset 0 0 150px -50px black;*/
    /*outline: 5px dashed darkblue;*/
    outline-width: 8px;
    outline-color: darkblue;
    background-color: #809dff9f;
    background-color: #3975ec9c;
    color:rgb(0, 0, 56)
}
.blogHomeLink {
    padding-top: 11.5vh;
    width: calc(100% - 20px);
    height: calc(30vh - 20px);

    background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(138, 93, 138, 0.034));
}
.worksHomeLink {
    padding-right: calc(22.5% - 30px);
    width: calc(45% - 20px);
    height: calc(70vh - 40px);
    writing-mode: vertical-rl;
    text-orientation: upright;
    float: left;
    background-image: linear-gradient(to top, rgba(46, 59, 43, 0.1), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0));
}
.introHomeLink {
    margin: 10px 10px 10px 10px;
    /*display: block;*/
    width: calc(55% - 20px);
    height: calc(30vh - 40px);
    float: right;
    word-break: break-all;
}
.introHomeLink a {
    margin: 0;
    width: calc(33.2% - 10px);
    height: calc(10vh - 20px);
    display: inline-block;
    outline-color: rgb(143, 143, 143);
    outline-style: dotted;
}
.introHomeLink h1 {
    color: white;
    background-color: rgba(0, 89, 255, 0.801);
    display: table;
    text-indent: -7px;
    line-height: 48px;
    animation-name: breakTitle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    letter-spacing: 0px;
}
@keyframes breakTitle {
    0% {letter-spacing: 0px;}
    1% {letter-spacing: -100px;}
    5% {letter-spacing: 1px;}
    6% {letter-spacing: 0px;}
    /*
    0% {width: auto;}
    1% {width: 0%;}
    5% {width: 30%;}
    10% {width: 100%;}
    11% {width: auto;}*/
}
.aboutHomeLink {
    position: absolute;
    padding-left: calc(0.275 * 1024px - 30px);
    width: calc(55% - 30px);
    height: calc(70vh - 9em + 8px - 20px);
    height: calc(40vh - 20px);
    left: calc(45% + 1px);
    bottom: 10px;
    writing-mode: vertical-lr;
    text-orientation: upright;

    background-image: linear-gradient(to top, rgba(46, 59, 43, 0.1), rgba(255, 0, 0, 0));
}
.homeLinks::after {
    display:block;
    content: "\00a0";
    margin-bottom: 1px;
}
.continueArrow {
    rotate: 90deg;
    font-size: 48px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 12px);
    color: #ded6cc;
    text-shadow: -3px 0 8px black;
    animation: arrowBop 1.5s ease-in-out 0s infinite; /* forwards none;*/
}


@keyframes arrowBop {
    0% {transform: translateY(0);
        text-shadow: -3px 0 8px black;}
    50% {transform: translateX(-16px);
        text-shadow: 3px 0 8px black;}
    100% {transform: translateY(0);
        text-shadow: -3px 0 8px black;}
} 


@media only screen and (max-width: 909px) { /*The h1 line breaks!*/
    /*.aboutHomeLink {
        height: calc(70vh - 11em + 6px - 20px);
    }*/
}
@media only screen and (max-width: 696px) { /*The p line breaks!*/
    /*.aboutHomeLink {
        height: calc(70vh - 11em - 16px - 20px);
    }*/
}
@media only screen and (max-width: 1200px) {
    .homeLinks {
        width: calc(100vw - 20px);
        height: 80vh;
        font-size: 48px;
        padding-top: 3vh;
    }
    .homeLinks a {  
        outline-width: 7px;
        outline-width: 6px;
    }
    .homeLinks a:hover {
        outline-width: 9px;
        outline-style: dashed;
    }
    .blogHomeLink {
        height: calc(25vh - 20px); 
        padding-top: 6.5vh;
    }
    .worksHomeLink {
        height: calc(55vh - 40px); 
        width: calc(45% - 20px);
    }
    .introHomeLink {
        width: calc(55% - 20px);
        height: calc(30vh - 20px);
    }
    .aboutHomeLink {
        width: calc(55% - 30px);
        left: calc(45% + 1px);
        height: calc(25vh - 20px);
        bottom: calc(-3vh + 20px);
    }
    .introHomeLink h1 {
        font-size: 64px;
        letter-spacing: -3px;
        line-height: 48px;
    }
    .continueArrow {
        bottom: 48px;
    }
    .avatar {
        display: none;
    }
    @keyframes breakTitle {
        0% {letter-spacing: -3px;}
        1% {letter-spacing: -100px;}
        5% {letter-spacing: -2px;}
        6% {letter-spacing: -3px;}
    }
}

.homeScroll { /*making the menu scroll up*/
    height: 100vh;
    display: block;
    animation-name: scrollAnim;
    animation-duration: 0.8s;
    animation-delay: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.homeFooterScroll {
    height: 200vh; /*calc(200vh - 730px);*/
    transition-duration: 0.5s;
}
@keyframes scrollAnim {
    from {height: 100vh;}
    to {height: 0vh;}
}
@keyframes scrollAnimBg {
    from {background-position-y: top;}
    to {background-position-y: top; }/*-25vh;}*/
}
/*HOME END*/

/*NAVBAR    NAVBAR      NAVBAR      NAVBAR      NAVBAR      NAVBAR      NAVBAR      NAVBAR*/
.logoTopLeft img {
    height: 2em; 
    position: absolute;
    transition-duration: 0.3s;
    top: 1.75em;
}
.logoTopLeft img:hover {
    /*mix-blend-mode:overlay;*/
    opacity: 0.5;
    transform: rotate(360deg);
}
.logoTopLeft::after {  /*space after logo*/
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0 \00a0";
}

/*.navbar,
.navbar2 {
    text-align: center;
    display: block;
    position: relative;
}

.navbar a,
.links a, 
.navbar2 a {
    transition: padding 1s;
    background-image: url('../img/xp_bg.jpg');
    font-size: 1.3em;
}*/
/*
.works a{
    /*background-image: url('../img/kanna.jpg');
    background: right / 500px no-repeat url('../img/portfolio/sculpture/PLAY.jpg');
}
.blog a{
    /*background-image: url('../img/body_blur.jpg');
    background: top / 400px no-repeat url('../img/body_blur.jpg');
}*/
.topnav {
    text-align: left;
    display: block;
    position: relative;
    padding: 2em calc(4% + 24px) 0 calc(4% + 24px);
    padding: 2em calc(50vw - 520px) 0 calc(50vw - 520px);

    background-color: rgb(48, 43, 39);
    background-color: rgb(49, 41, 33);

    /*background-image: linear-gradient(to top left, rgb(179, 159, 140),  rgb(88, 76, 65), rgb(66, 56, 46),
    rgb(56, 47, 39), rgb(56, 47, 39), rgb(56, 47, 39),  rgb(48, 43, 39),  rgb(48, 45, 39),
    rgb(39, 49, 33), rgb(45, 75, 42) , rgb(128, 73, 2));*/

    z-index: 2;
    transition: background-color 0.1s;
}
.nav a {
    /*Common for topnav and portfolionav*/
    background-color: none;
    background-image: none;
    text-shadow: none;
    font-weight: 500;
    transition-duration: 0.1s;
}
/*.nav a:not(.icon a) {
    margin: 1em 0.5em;
}*/
.topnavLinks a, .portfolionavbar a {
    margin: 1em 0.5em;
}
.nav a:not(.aactive) {
    text-decoration: none;
}
.nav a:hover, .portfoliocollapse:hover, .sidebar a:hover, .collapsible:hover {
    /*Common for topnav and portfolionav*/
    /*text-decoration: none;*/
    text-shadow: 0 1px, 0 2px, 0 3px, 0 4px, 0 5px, 0 6px, 
                0 7px, 0 8px, 0 9px, 0 10px, 0 11px, 0 12px,
                0 13px, 0 14px, 0 15px, 0 16px, 0 17px, 0 18px,
                1px 0, 2px 0, 3px 0, 4px 0, 5px 0, 6px 0, 
                7px 0, 8px 0, 9px 0, 10px 0, 11px 0, 12px 0,
                13px 0, 14px 0, 15px 0, 16px 0, 17px 0, 18px 0;
}
.topnav a {
    color: rgb(255, 255, 255);
}
/*.topnav a:hover {
    background-color: rgb(43, 11, 73);
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 3px white;
    padding: 0.5% 7%;
    font-weight: 300;
}*/
.portfolionavbar {
    display: block;
    text-align: right;
    padding: 1em calc(50vw - 525px) 0 10%;
}
.portfolionavbar a {
    color: black;
}
.topnavLinks {
    display: inline;
}



.sidemargin {
    padding: 0 calc(4% + 24px) 0 calc(4% + 24px);
}

.portfoliocollapse {
    display: none;
    margin: 0 0 0 0;
    /*position: absolute;*/
    left: 0;
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
    font-size: 64px;
    color: white;
    border: none;
    transition-duration: 0.1s;
    z-index: 5;

    background-color: rgba(32, 26, 22);
    background-color: rgba(0, 0, 0, 0.85);
    mix-blend-mode:color-dodge;
    border-bottom-right-radius: 10px;
}
.portfoliocollapse.right {
    border-bottom-right-radius: unset;
    border-bottom-left-radius: 10px;
}
.portfoliocollapse.right.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.portfoliocollapse:hover{
    /*outline: 3px solid white;
    width: calc(5em - 6px);
    height: calc(5em - 6px);
    margin: 3px;*/
    text-indent: -12px;

    box-shadow: inset 0 0 0 3px white;
    mix-blend-mode: normal;
}
.portfoliocollapse:hover p{
    transform: translateY(-12px);
}

.active {
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode:normal;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    content: '';
    /*kryss som innehåll*/
}
.portfnavlinks {
    display: block;
    max-height: 100%;
    transition: height 0.2s ease-out;
    transition: padding 0.2s ease-out;
    /*overflow: hidden;*/
}
.portfnavlinks a {
    margin-bottom: 20em;
}

.icon {
    opacity: 0.99;
    /*display: block;*/
    /*position: absolute;*/
    width: 1.5em;
    mix-blend-mode:color-burn;
    transition-duration: 0.2s;
    z-index: 5;
}
.left {
    left: 2%;
}
.right {
    /*right: calc(4% + 24px + 1.5em);*/
    float: right;
    right: 0;
}
.horizontal {
    /*transform: translateY(-2em);*/
    margin: 0 0 0 1em;
}
/*.horizontal:first {
    margin: 0 0.5em 0 0;
    margin: 0;
}*/
.icon img {
    width: 100%;
    height: auto;
    transition-duration: 0.2s;
}

.icon:hover {
    /*text-shadow: 0 1px 3px black;*/
    /*filter: invert(100%);*/
    /*background-color: black;*/
    /*filter: brightness(+40%);*/
    mix-blend-mode:screen;
    transform: scaleY(1.1) translateY(1px) rotate(360deg);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 200px;
    padding-bottom: calc(32px + 48px + 32px + 48px); /*icon height + margin + extra margin*/
    text-align: left;
}
.sidebar a {
    padding: 12px 48px 24px 48px;
    text-decoration: none;
    font-size: 48px;
    color: white;
    display: block;
    transition-duration: 0.1s;
}
.sidebar .aactive {
    background-color: #222;
    text-decoration: underline;
}
.aactive {
    text-decoration: underline;
}
.aactive::after {
    content: '.';
}
.sidebar a:nth-child(even) {
    border: 2px dashed #444;
    border-left: none;
    border-right: none;
}
.sidebar p {
    padding: 12px 48px 24px 48px;
    font-size: 48px;
    color: white;
}
.sidebar .collapsible {
    font-size: 48px;
    text-decoration: underline;
    color: rgb(104, 207, 168);
    padding: 0 1em 1em 1em;
    transition-duration: 0.1s;
    border-bottom: 2px solid #555;
}
.sidebar .collContent {
    padding: 0 48px 1.5em 48px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.1s;
}
.sidebar .collapsible::after {
    content: '\00a0 +'; /*'\02795';*/
}
.sidebar .collapsibleActive {
    color: rgb(143, 143, 143);
    color: rgb(71, 59, 82);
}
.sidebar .collapsibleActive::after {
    content: '\00a0 -'; /*'\2796';*/
}
.sidebarIcon {
    margin: 24px;
    font-size: 32px;
    display: inline-block;
    mix-blend-mode: screen;
}
.sidebarIcon:hover {
    mix-blend-mode: color-burn;
}
.sidebarIcon a, .sidebarIcon img {
    padding: 0;
}
.iconHolder {
    background-color: #111;
    position: fixed;
    bottom: 0;
    width: 550px;
    padding: 32px calc(((550px - 4 * (48px + 24px + 24px)) / 2));
    /*margin: 32px calc(((550px - 4 * (48px + 24px + 24px)) / 2));*/
    /*           (sidebarwidth - nr of icons * (iconwidth + iconmargin + iconmargin)) / 2*/
}
.spacer {
    font-size: xx-large;
    margin-top: 0;
    height: 0;
}
.sidebarBackground {
    opacity: .5;
    background-color: darkslateblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(219, 130, 152);
    font-size: 28px;
    word-break: break-all;
}


@media only screen and (max-width: 1200px) {  /* NAV MOBILE         NAV MOBILE      NAV MOBILE */
    .nav a {
        font-weight: 600;
        font-size: xx-large;
    }
    .portfoliocollapse {
        display: inline;
        z-index: 3;
    }
    .portfolionavbar {
        /*transform: translateY(-4.5em);*/
        /*padding: 0;
        margin: 0 0 0 auto;
        background-color: rgb(104, 93, 88);*/
        /*display: none;*/
        height: 0;
        overflow: hidden;
    }
    .portfolionavbar .portfnavlinks {
        /*display: none;*/
        height: 0px;
        overflow: hidden;
        /*padding: 0;
        text-align: center;*/
    }
    .topnav {
        padding: 0 calc(4% + 24px) 0 0;
        padding: 0 0 0 0;
        font-size: xx-large;
        height: 5em;
        
        box-shadow: 0 -10px 20px rgb(0, 0, 0);

        position: fixed;
        width: 100%;
        top: 0;
        /*padding: 2em calc(4% + 24px) 0 0;*/
    }
    .logoTopLeft img {
        top:1.5em;
        left: calc(50% - 1em);
    }
    .logoTopLeft::after {
        content: '';
    }
    .topnavLinks {
        height: auto;
        width: 0;
        position: absolute;
        left: 0;
        overflow-x: hidden;
        white-space: nowrap;
        transition: 0.1s;
        /*padding-top: 1.5em;*/
        z-index: 2;
        transition-duration: 0.2s;
        margin: 0 160px;
        text-align: center;
        font-size: 0;
    }
    .topnavLinks a {
        display: inline-block;
        width: calc((100vw - 380px) / 3);
        height: calc(5 * 32px);
        padding-top: .9em;
        margin: 0;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 0;
    }
    .topnavLinks a:hover {
        background-color: rgba(20, 15, 10, 0.35);
    }
    .topnavLinks a:nth-child(even) {
        /*background-color: rgba(20, 15, 10, 0.25);*/
        border-left: 3px dashed rgb(114, 106, 101);
        border-right: 3px dashed rgb(114, 106, 101);
    }
    .horizontal {  /*icon*/ 
        margin: 1.75em 0.6em;
        width: 0;
    }
    /*.icon {
    }*/
    .spacer {
        margin-top: 7em;
        display: block;
    }
}
@media only screen and (min-width: 1200px) {
    .portfoliocollapse {
        display: none;
    }
    .portfolionavbar .portfnavlinks {
        /*display: block;*/
        height: auto;
    }
    .spacer {
        display: none;
    }
}

.engraved {
    text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa, -1px 0px 0px #222, 1px 0px 0px #aaa;
}
.engraved:hover {
    text-shadow: 0px -1px 0px #aaa, 0px 1px 0px #222, -1px 0px 0px #aaa, 1px 0px 0px #222;
}




/* NAV END      NAV END         NAV END         NAV END         NAV END         NAV END*/


/* THE SIMPLE STUFF  */
.block {
    display: block;
}
.relative {
    position: relative;
}
.white {
    background-color: white;
}
.opacity {
    opacity: 0.8;
}
.left {
    text-align: left;
}

.navbar a {
    padding: 4% 10%;
}

.navbar2 a {
    padding: 2% 10%;
}

.navbar a:hover,
.navbar2 a:hover {
    padding: 0;
}

/*.links {
    text-align: center;
    align-content: center;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 4px;
    height: 800px;
}

.links a {   
    text-align: center;
    align-content: center;
    flex-direction: column;
    border: 3px dotted black;
    width: 200px;
    max-width: 100%;
    padding: 120px 60px;
}*/

.links a:hover {
    padding: 0;
}

.footerCurve {
    height:200px;
    border-radius: 0 0 30% 30%;
    background: #fff;
    margin-bottom: 3em;
}
.footer {
    /*background: rgba(155, 155, 155, 0.247);*/
    /*rgb(144, 169, 207)*/  /*blue*/
    /*#ded6cc;*/            /*beige*/
    border-radius: -50% -50% 0 0;
    background: rgb(144, 169, 207);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 5em;
    /*mix-blend-mode:difference;*//*så den blendar med sidepatterns*/
}
.footer .icon {
    display: inline-block;
    margin: 0 0 1em 1em;
    mix-blend-mode: multiply;
}
.footer .icon:hover {
    mix-blend-mode: normal;
}
@media only screen and (max-width: 1200px) {
    .footer {
        font-size: 24px;
    }
    .footer .icon {
        width: 2em;
        margin: 0 0 0 1.5em;
    }
}

.grid {
    margin: 4% 4% 12%;
    max-width: 100%;

    padding: 3px;
    /*background-color: rgb(48, 43, 39);*/

    font-size: 0; /*för att det inte ska vara space mellan bilderna*/

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px 0 12px;
}
  
.column {
    flex: 10%;
    padding: 6px;
}
  
.column img {
    margin: 6px;
    vertical-align: middle;
    width: 100%;
    transition-duration: 0.2s;
    object-fit: cover;
}*/

.grid img {
    margin: 0;
    border: 6px solid white;
    width: 24.999%;
    height: 24.999%;
    /*width: 33.333%;
    height: 33.333%;*/
    transition-duration: 0.6s;
    object-fit: cover;
}
.grid p {
    display: block;
    margin: 1em 0;
    border: 3px solid rgb(48, 43, 39);
    border: 3px solid white;
    width: 100%;
    height: 24.999%;
    transition-duration: 0.6s;
    object-fit: cover;
    color:white;
    font-size: xx-large;
}
.grid iframe {
    /*margin: 0;
    border: 3px solid rgb(48, 43, 39);*/
    width: 49.999%;
    /*transition-duration: 0.6s;
    object-fit: cover;*/
}

.grid .worksLink {
    margin: 0;
    border: 3px solid rgb(0, 55, 206);
    border-radius: 3px;
    width: 24.999%;
    height: 24.999%;
    /*width: 33.333%;
    height: 33.333%;*/
    transition-duration: 0.2s;
    /*object-fit: cover;*/
    /*rgb(144, 169, 207)*/  /*blue*/
    /*#ded6cc;*/            /*beige*/
}
.grid .worksLink img {
    width: 100%;
    /*border: 3px solid rgb(219, 208, 208)*/
    border: 3px solid rgb(255, 255, 255);
}

.works h1, .about h1 {
    padding-bottom: 1em;
    padding-top: 32px;
    
    margin: 0 calc(50vw - 520px) 0 calc(50vw - 520px);
}

/*resize the grid*/
@media only screen and (max-width: 1200px) {
    .grid img {
      width: 49.999999%;
    }
    .grid .worksLink {
      width: 49.999999%;
    }
    .grid {
        margin: 0 0 12%;
    }
}
  
@media only screen and (max-width: 800px) {
    .grid img {
        width: 49.99999%;
    }
    .grid .worksLink {
        width: 49.99999%;
    }
}

.grid img:hover {
    opacity: 0.9;
    padding: .3px;
    /*object-fit: scale-down;*/
    /*animation: scrollimg 1s ease-in-out; /* timing-function delay iteration-count direction fill-mode;*/
    animation-iteration-count: infinite;
}

@keyframes scrollimg {
    0% {object-position: 50% 50%;}
    25% {object-position: 0% 0%;}
    75% {object-position: 100% 100%;}
    100% {object-position: 50% 50%;}
}

.display {
    margin: 4% 4%;

    text-align: left;
}
.display p {
    text-align: left;
    padding: 0 0 0 0;
    padding-left: 0;
}

.display img {
    max-width: 100%;
    max-height: 100vh;

    margin: 0 auto;
    display: block;
}

.lightbox {
    top: 0;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    position: fixed;
    /*max-width: 85%;*/
    /*max-height: 85%;*/
    width: calc(1px + 100%);
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    /*padding: 1% 0 5%;*/
    z-index: 2;
}
.lightbox::after {
    content: "";
    /*padding-bottom: 40px;*/
}

.lightbox img {
    /*max-width: calc(100vw - 10%);*/
    /*max-height: calc(100vh - 10% - 50px);*/
    /*max-width: 100%;
    max-height: 100%;*/
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}
.lightbox img::after {
    content: "";
    /*padding-bottom: 40px;*/
}
.lightbox .blogArticle img {
    position: unset;
    transform: unset;
    z-index: unset;
    padding-bottom: 5px;
}

.lightboxBg {
    position: fixed;
    width: calc(1024px + 64px);
    height: 100%;
    top: 0;
    left: calc(50% - 512px - 32px);
    background-color: #fff;
    z-index: 3;
}

.lightboxImg {
    max-width: 1024px;
    max-height: 100%;
}

.lightboxText {
    /*top: calc(100vh - 10% - 20px);*/
    /*bottom: 2em;*/
    left: 50%;
    transform: translate(calc(-50% + 4em), -50%);
    position: fixed;
    color: black;
    text-shadow: .5px .5px 1.5px white;
    z-index: 2;
    margin: 0 -4em;
    vertical-align: text-bottom;
    top: calc(100vh - 40px);
}

.lightboxNext {
    font-size: 48px;
    position: fixed;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    transition-duration: 0.2s;
    /*text-shadow: -2px 2px violet;*/
    mix-blend-mode: difference;
    z-index: 2;
    border-radius: 2em;
    width: 1.75em;
    height: 1.75em;
    text-align: center;
    padding-top: .15em;
}

.lightboxNext:hover {
    top: 50%;
    text-shadow: -4px 0 blueviolet;
    background-color: #777;
}

.lightboxPrev {
    font-size: 48px;
    position: fixed;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    transition-duration: 0.2s;
    /*text-shadow: 2px 2px violet;*/
    mix-blend-mode: difference;
    z-index: 2;
    border-radius: 2em;
    width: 1.75em;
    height: 1.75em;
    text-align: center;
    padding-top: .15em;
}

.lightboxPrev:hover {
    top: 50;
    text-shadow: 4px 0 blueviolet;
    background-color: #777;
}

.lightboxCross {
    position: fixed;
    top: 12px;
    right: calc(50% - 512px - 32px + 12px);
    /*background-color: black;*/
    color: white;
    font-size: xx-large;
    opacity: 0.9;
    border-radius: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    padding-top: .25em;
    transition-duration: 0.2s;
    z-index: 3;
    mix-blend-mode: difference;
}

.lightboxCross:hover {
    color: white;
    background-color: rgba(155, 155, 155, 0.37);
}

.hidden {
    display: none;
}

.worksMenu {
    /*display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 220% 220%;*/
    height: auto;
    width: auto;
    /*margin: 0 20%;*/
    margin: 0 calc(50vw - 520px) 0 calc(50vw - 520px);
    display: flex;
    flex-wrap: wrap;

    /*flex: 33.33333%;*/
    
    align-items: top;
    justify-content: center;
    text-align: center;
}

.worksMenu a {
    background-image: none;
    border-radius: 2px;
}

.worksColumn {
    flex: 30%;
}

@media (max-width: 1200px) {
    .worksColumn {
        max-width: 33.33333%;
        flex: 33.33333%;
    }
    .lightboxNext, .lightboxPrev, .lightboxCross {
        font-size: 64px;
        right: 30px;
    }
    .lightboxPrev {
        left: 30px;
    }
    .lightboxCross {
        top: 30px;
    }
    .lightboxBg {
        width: 100%;
        left: 0;
    }
    .lightboxImg {
        max-width: 100%;
    }
    .lightboxText {
        font-size: 20px;
        top: calc(40px);
    }
  }

.worksMenuContainer {
    top: 0;
    left: 0;
    /*flex: 25%;*/
    position: relative;
    transition-duration: 0.2s;
    max-width: 100%;
    max-height: 100%;
    /*width: auto;*/
    /*height: 50px;*/
    /*margin: 20px;*/
    /*width: 95%;
    height: 95%;*/
    /*text-align: center;*/

    padding: 0 2px;
}

.worksMenuContainer img {
    /*max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;*/
    width: 100%;
    height: 100%;
    transition-duration: 0.2s;
    border-radius: 2px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.worksMenuContainer:hover img{
    margin: 0;
    width: 100%;
    height: 100%;
}

.worksMenuContainer:hover .worksMenuOverlay {
    opacity: 1;
    margin: 2px;
    transform: translateY(-2px);
}

.worksLink {
    /*top: 6px;
    left: 6px;
    flex: 25%;*/
    width:24.999;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline;
    transition-duration: 0.2s;
    /*max-width: 100%;
    max-height: 100%;*/
    text-align: center;

    /*padding: 0 2px;*/
    /*margin: 12px;*/
    /*margin-bottom: 12px;*/
}

.worksLink img {
    margin: 0;
    object-fit:cover;
}

.worksLink a {
    background-image: none;
}

.worksLink .worksMenuOverlay {
    border-radius: 0;
    background-color: rgba(0,0,0,0);
}

.worksLink:hover .worksMenuOverlay {
    opacity: 1;
    /*background-color: rgba(255, 255, 255, 0);*/ 
    box-shadow: 0 -25vw 10vw -15vw rgba(0, 0, 0, 0.699) inset; /*själva skugg-overlayet*/
    
}

.worksMenuOverlay:hover .worksMenuText {
    text-shadow: none;
    transform: translateY(0%);
}

.worksLink:hover img {
    object-fit: scale-down;
}

.worksMenuOverlay {
    margin: 3px;
    opacity: 0;
    display: unset;
    position: absolute;
    /*top: 0;*/
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    
    background-color: rgba(137, 43, 226, 0.8);
    transition-duration: 0.1s;
}
.worksMenu .worksMenuOverlay {
    top: 0;
}

.worksMenuText {
    color: rgb(241, 233, 233);
    text-shadow: 0 0px 10px white;
    position: absolute;
    bottom: 1.5vw;
    left: 1.5vw;
    transform: translateY(40%);
    /*transform: translate(-50%, -50%);*/
    text-align: left;
    font-size: xx-large;
    transition-duration: 0.3s ease-in-out;
}
/*.worksMenuText::after {
    content: '\2BB3';
    content: '\01F86D'; //arrow indicating link
}*/


.homeContent {
    margin: 0 auto;
    padding: 2em;
    max-width: 1024px;
}

.top {
    padding: 0.5em;
    margin-left: 1em;
    display: table;
    text-align: left;
    background-color: rgb(24, 24, 24);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*.homePost {
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    max-width: 1000px;
    transition: padding-bottom 0.4s;
}*/
/*.homePost:hover {
    background-color: rgb(241, 233, 240);
    box-shadow: 2px 2px 8px -2px black;
    color: rgb(30, 0, 44);
    border: 0.2em solid white;
    padding: 0.8em;
    padding-bottom: 2em;
}*/

/* BLOG */
.blogContent {
    padding-top: 2em;
    overflow: hidden;
}
.blogContent h1 {
    margin-left: calc(50vw - 520px);
    padding-bottom: 1em;
}

.blogContent::after {
    content: "";
    display: block;
    clear: both;
}

.blogLink {
    text-decoration: none;
    margin: 0 calc(50vw - 310px) 0 calc(50vw - 520px);
}
.blogPost:first {
    margin-top: 10em;
}
.blogPost, .homePost {
    margin: 0 auto;
    padding: 1em;
    padding-bottom: 2em;
    background: white;
    color: #111;
    margin-bottom: 1em;

    width: 100%;
    max-width: 800px;
    height: 210px;
    overflow: hidden;
    transition: height 0.4s;
    display: inline-block;

    border-radius: 2px;
}
.homePost {
    max-width: 100%;
}
.article .homePost {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.blogPost:hover, .homePost:hover {
    background-color: rgb(241, 233, 240);
    box-shadow: 2px 2px 8px -2px black;
    color: rgb(30, 0, 44);
    
    border: 0.2em solid white;
    padding: 0.8em;
}
.blogPost img, .homePost img {
    width: 225px;
    height: 200px;
    transform: translate(calc(-1em + 5px), calc(-1em + 5px));
    float: left;
    padding-right: 1em;
    
    object-fit: cover;
}
.blogPost .imgThumb, .homePost .imgThumb { /*background img instead of <img> (for lightbox function)*/
    width: calc(225px - 1em);
    height: 200px;
    transform: translate(calc(-1em + 5px), calc(-1em + 5px));
    float: left;
    margin-right: 1em;
    
    background-position: center center;
    background-size: cover;
}
.blogPost p, .homePost p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.blogHr {
    margin-top: 0.5em;
    margin-bottom: 2em;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px dashed gray;
    width: 100%;
}
.blogContent .blogHr {
    width: 820px;
    margin: 0.5em calc(50vw - 310px) 2em calc(50vw - 520px - 20px);
}

.blogPost h2, 
.blogPost h5,
.homePost h2,
.homePost h5 {
    padding-bottom: 0.75em;
}

.blogNavBackground {
    position: static;
    
    top: 2em;
    /*left: calc(50vw + 270px);*/
    float: right;
    
    margin: 0 calc(50vw - 520px) 0 calc(50vw - 520px);
    width: 220px;
    height: 0;
    opacity: 0.8;
    padding-left: 1em;


    /*background-color: #111;*/
}
.blogNav {
    width: 220px;
    padding: 1em 2em;
    /*position: relative;*/
}
.blogNav a {
    color: rgb(224, 224, 224);
    margin-bottom: 1em;
    display: block;
}
.blogNav .collapsible {
    color: rgb(224, 224, 224);
    margin-bottom: 1em;
    transition-duration: 0.1s;
}
/*.blogNav .collapsible:hover {
    color: rgb(143, 143, 143);
}*/
.blogNav .collContent {
    padding-left: 0.5em;
    margin-bottom: 1.5em;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s;
}
.blogNav .collapsible::after {
    content: '\00a0 +'; /*'\02795';*/
}
.blogNav .collapsibleActive {
    color: rgb(143, 143, 143);
}
.blogNav .collapsibleActive::after {
    content: '\00a0 -'; /*'\2796';*/
}
.blogNav a:hover {
    color: darkgray;
}


.contactForm {
    max-width: 1024px;
    margin: 0 auto;
    text-align: left;
    padding: 0 32px 0 32px;
    /*background: center / 256px repeat url('../img/turpeluren_rich_forest_bottom_layer_biodiversity_soil_0_1b5e4557-1468-4f2f-b7a5-db7e530de109.png');
    background: 50% 43% / cover repeat-y url('../img/lager2dcheckered.jpg');*/
    

    border-radius: 2px;
    border: 1px solid #aaa;
}
.contactFormBox {
    max-width: 600px;
    margin: 0 auto;
}
.contactForm h2 {
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 1.5em;
    padding-top: 48px;
}
.contactForm h2::after {
    float: right;
    content: ":3";
}
.contactForm label {
    display: inline-block;
    width: 14%;
    margin-bottom: 2em;
    font-size: 18px;
}
.contactForm input {
    float: right;
    width: 42%;
    margin-right: 42%;
    height: 3em;
    font-size: 16px;
    text-indent: 4px;
}
.contactForm textarea {
    resize: vertical;
    width: 100%;
    height: 150px;
    font-size: 16px;
    text-indent: .4em;
    padding: .2em;
    margin-bottom: 16px;
}
.contactForm button {
    margin-left: calc(14% + 44% - 4px);
    width: calc(42% + 4px);
    display: block;
    font-size: 16px;
    margin-top: 4px;
    height: 3em;
    border-radius: 3px;
    border-top: none;
    color: white;
    background-color: rgb(123, 65, 177);
    transform: translateX(2px);
    margin-bottom: 64px;
}
.contactForm button:hover {
    border-top: 2px solid #000;
    background-color: rgb(74, 41, 105);
}
.contactForm hr {
    border: none;
    border-top: 1px solid #aaa;
}

@media only screen and (max-width: 1200px) {
    .contactFormBox {
        max-width: 900px;
    }
    .contactForm h2 {
        font-size: 48px;
    }
    .contactForm label {
        margin-bottom: 5em;
        font-size: 24px;
    }
    .contactForm input {
        height: 5em;
        font-size: 24px;
        text-indent: 8px;
        width: 62%;
        margin-right: 22%;
    }
    .contactForm textarea {
        height: 250px;
        font-size: 24px;
        margin-bottom: 24px;
    }
    .contactForm button {
        font-size: 24px;
        height: 5em;
        margin-left: calc(14% + 64% - 4px);
        width: calc(22% + 4px);
    }

    .blogNavBackground {
        display: none;
    }
    .blogPost, .homePost {
        max-width: 1200px;
        height: 550px;
        margin: 0;
        margin-bottom: 1em;

        padding: 2em 3em 1em 3em;
    }
    .blogPost:hover, .homePost:hover {
        height: 550px;

        /*border: 0.2em solid white;*/
        border: 0.2em solid white;
        padding: 1.8em 2.8em 0.8em 2.8em;
    }
    .blogPost img, .homePost img {
        height: 540px;
        width: 570px;
        transform: translate(calc(-3em + 5px), calc(-2em + 5px));
        padding-right: 0;
    }
    .blogPost .imgThumb, .homePost .imgThumb {
        height: 540px;
        width: 570px;
        transform: translate(calc(-3em + 5px), calc(-2em + 5px));
        padding-right: 0;
    }
    .blogPost h2, .homePost h2 {
        font-size: 36px;
    }
    .blogPost h5, .homePost h5 {
        font-size: 16px;
        font-weight:400;
    }
    .blogPost h4, .homePost h4 {
        font-size: 20px;
    }
    .blogPost p, .homePost p {
        font-size: 20px;
    }
    .blogLink {
        margin: 0;
    }
    .blogContent h1, .works h1, .about h1 {
        margin-left: 1em;
        margin-right: 0;
        margin-top: -0.5em;
        padding-bottom: 1em;
        font-size: 64px;

        white-space: wrap;
        overflow-wrap: break-word;
    }
    .blogContent {
        margin-top: 0;
    }
    .homeContent {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    .blogContent .blogHr, .homeContent .blogHr {
        margin: 0 auto 0 auto;
        width: 90%;
        margin: 1em auto 2.5em auto;
    }
    .top {
        font-size: 32px;
    }
}

html .article { /* prevent images overflowing x */
    overflow-x: hidden;
}

.blogArticle {
    width: calc(1024px + 4em);
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    /*background-color: blue;*/
}
.blogArticle h1 {
    color: black;
    text-align: left;
    padding: initial;
    padding-top: 1em;
    font-size: 4em;
    font-weight: 600;
    text-shadow: -2px 2px 0 violet;
    text-indent: -4px;
    user-select: text;
}
.blogArticle h5 {
    color: violet;
    padding-bottom: 3em;
    font-weight: 200;
    font-size: 14px;
    user-select: text;
}
.blogArticle h4 {
    font-weight: 650;
    padding-bottom: 2em;
    font-size: 18px;
    user-select: text;
}
.blogArticle h2 {
    text-decoration: violet underline;
    padding-bottom: 0.5em;
    user-select: text;
}
.blogArticle img {
    max-width: 100%;
    padding-bottom: 2em;
  
    /*transform: translateX(-50%);*/
    /*margin-left: 10%;*/

}
.blogArticle .imgp {
    color: white;
    mix-blend-mode: difference;
    font-size: 14px;
    user-select: text;

    /*margin-left: 50%;*/
    transform: translate(1em, -4.5em); /*translate(calc(-50% + 1em), -4.5em);*/
}
.blogArticle p {
    font-size: 18px;
    padding-bottom: 2em;
    user-select: text;
}
.blogArticle .grid {
    margin: 0 auto;
    user-select: text;
}
.blogArticle .row {
    padding: 0;
    user-select: text;
}
.blogArticle .column {
    user-select: text;
}
.blogArticle::after {
    content: "";
    display: block;
    padding-bottom: 5em;
    /*border: 2px solid black;*/
}
.indent {
    margin-left: 1em;
}
.infoBackground {
    border-radius: 1em;
    border: 9px dotted rgb(74, 94, 124);
    padding: 2em;
    padding-bottom: 1em;
    background-color: rgb(255, 255, 255);
    box-shadow: -45px 45px 200px 50px rgb(201, 209, 221) inset; /*, 45px 45px 50px 0 #447dee inset, -45px -45px 50px 0 #417cf0 inset; , -45 45px 50px 0 #3a72eb inset;*/
}
.infoBackground h2 {
    text-decoration: rgb(45, 33, 90) underline;
}


/* Shirt */
.shirt {
    font-size: larger;
    color: purple;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*text-indent: 1.8em;*/
    display: flex;
    flex-direction: column;
    background-color: #b7cbf3;
}
.shirt p {
    letter-spacing: 2em;
    margin-right: -2em;
    /*border-bottom: 2em solid white;*/
}
.shirt::after {
    content: "--------------------------------------------------------------------------------------";
    white-space: normal;
    display: block;
    color: transparent;
    background-color: transparent;
    border-bottom: 2em solid white;
    padding: 0;
    margin: 0;
    max-height: 1em;
}

.sidePattern {
    position: fixed;
    left: calc((50% - 512px) / 2);
    top: 100px;
    height: 100vh;
    width: 70px;
    background: top / 100% repeat-y url('../img/pixelpattern-cell-white.png');
    transform: translateX(-50%);
    mix-blend-mode:difference;
    z-index: -1;
}
.sidePatternRight {
    left: unset;
    right: calc((50% - 512px) / 2);
    transform: translateX(50%);
}
.goat {
    position: absolute;
    background: top / 100% no-repeat url('../img/pixelpattern-goat-white.png');
    top: 62px;
    z-index: 3;
    height: 100px;
}

@keyframes updown {
    0% {
      transform: translateY(-150%);
    }
  
    50% {
      transform: translateY(-50%);
    }
  
    100% {
      transform: translateY(-150%);
    }
}


/* mobile */
@media only screen and (max-width: 1200px) {
    body{
        overflow-x: hidden;
    }
    .sidePattern {
        top: 130px;
    }
    .goat {
        position: fixed;
        top: 128px;
    }
    .worksMenu {
        margin: 0;
    }
    .worksMenuOverlay {
        opacity: 1;
        background-color: rgba(0,0,0,0);
    }
    .worksMenu a {
        background: none;
    }
    .worksMenuContainer {
        padding-bottom: 3.5em;
        margin-bottom: 10px;
    }
    .worksMenuText {
        display: table;
        text-shadow: 1px 1px 3px white;
        background-color: white;
        color: black;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        text-align: center;
        padding: 0.1em 51% 0.3em 51%;
    }
    .worksMenuOverlay:hover .worksMenuText {
        transform: translate(-50%, 0.1em);
        background-color: blueviolet;
        bottom: 3px;
    }

    .blogArticle {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .blogArticle h1 {
        padding-top: 0;
    }
    .blogArticle h1, .blogArticle p, .blogArticle h2,
    .blogArticle h3, .blogArticle h4, .blogArticle h5, .blogArticle pre {
        padding-left: 32px;
        padding-right: 32px;
    }
    .blogArticle p, .blogArticle h4 {
        font-size: 32px;
        line-height: 1.75em;
    }
    .blogArticle h3, .blogArticle h2 {
        font-size: 40px;
        line-height: 1.75em;
    }
    .blogArticle .infoBackground {
        margin: 0 32px 0 32px;
    }
    .blogArticle .display p {
        padding-left: 0;
        padding-right: 0;
    }
    .blogArticle img {
        margin: 0 auto;
        display: block;
    }
  }